h1{
    font-weight: 60;
    margin: 1.5rem 0 1rem;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    color: #495057;
    padding-left:30px;
}

img 
{
width: 80%;
height : auto;
}
:host ::ng-deep.p-card {
    background: #ffffff;
    color: #495057;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 14px;
    width: 98%;
    margin-left : 1%;
    margin-right : 2%;
}


.btt1 {
  
  float: right;
}

:host ::ng-deep  .photo.p-button.p-component {
    margin: auto;
}

.p-datatable .p-datatable-header {
    background: #f8f9fa;
    color: #495057;
    border: 1px solid #e9ecef;
    border-width: 1px 0 1px 0;
    padding: 1rem 1rem;
    font-weight: 600;
}

label
{
    font-size : 1.15rem;
}

.field
{
    margin-top : 10px;
}

.field1
{
    margin-top : 25px;
    text-align: center;  
   
}

.p-invalid
{
    color:red;
}
:host ::ng-deep .p-calendar .p-datepicker {
    max-width : 80% !important;
    margin-top : 40px !important;
}

::ng-deep.p-calendar {
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    width: 520px;
    margin-top:1%;
}


.text{
    border-color : #2196F3;
    width : 520px;
    margin-top : 7px;
  }
  
 

  .img
  {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top : 3%;
      width: 50%;
	height: auto;

      height : auto;
  }
  