<p-toast ></p-toast>
<p-card>
    <ng-template pTemplate="header">
        <h1>Events scheduling</h1>
    </ng-template>
<p-table #dt [value]="events"  dataKey="id" style="width:90%" styleClass="p-datatable-responsive-demo" [rowHover]="true"
      [rows]="5" [showCurrentPageReport]="true" 
      [paginator]="true" currentPageReportTemplate="Display of {first} à {last} / {totalRecords} events"
      [filterDelay]="0" [globalFilterFields]="['photo','title','datime','description']">
      <ng-template pTemplate="caption">
          <div class="table-header">
              <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global search" />
              </span>
              <button pButton pRipple label="Add" icon="pi pi-plus"  (click)="openNew()" class="btt1"></button>
          </div>
      </ng-template>
      <ng-template pTemplate="header">
          <tr>
            <th style="width:18%;">Image</th>
              <th style="width:25%;" pSortableColumn="title" >Title<p-sortIcon field="title"></p-sortIcon></th>
              <th pSortableColumn="datetime" style="width:13%;">Datetime<p-sortIcon field="datetime"></p-sortIcon></th>
              <th pSortableColumn="description"> Description<p-sortIcon field="description"></p-sortIcon></th>
              <th style="width: 8rem">Actions</th>
          </tr>
          <tr> 
            <th></th>  
              <th>
                  <input pInputText type="text" (input)="dt.filter($event.target.value, 'title', 'contains')" placeholder="Title" class="p-column-filter">
              </th>
              <th></th>
              <th> <input pInputText type="text" (input)="dt.filter($event.target.value, 'description', 'contains')" placeholder="Description" class="p-column-filter"></th>
              <th></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
          <tr class="p-selectable-row">
              <td> 
                 <img [src]=" security(data.photo)"  />
              </td>
              <td>
                {{data.title}}
             </td>
             <td> 
                {{data.datetime}}
            </td>
            <td>
                {{data.description}}
           </td>
              <td style="text-align: center">
                <button *ngIf="data.status!='fermée'" (click)="onModify(data)" pButton type="button" class="p-button-rounded p-button-success p-mr-2" icon="pi pi-cog"></button>&nbsp;
                <button  (click)="onDelete(data)" pButton type="button" class="p-button-rounded p-button-danger" icon="pi pi-trash"></button>
              </td>
          </tr>
      </ng-template>
  </p-table>
</p-card>
  <p-dialog [(visible)]="dataDialog"  [modal]="true" >
    <ng-template pTemplate="header">
        <h2 *ngIf="!operation"> Add Event</h2>
        <h2 *ngIf="operation"> Edit Event</h2>
      </ng-template>
    <ng-template pTemplate="content">
        <div class="p-field">
            <form [formGroup]="form">
                <div class="field">
                    <label for="description">Title</label>
                     <input  placeholder="Enter the title" type="text" pInputText  class="text" id="name" formControlName="title" />
                    <small class="p-invalid" *ngIf="form.get('title').touched&&form.get('title').hasError('required')">This field is required</small>
                    <small class="p-invalid" *ngIf="form.get('title').touched&&form.get('title').hasError('pattern')"> <br>The title must not contain special numbers or characters</small>
                    <small class="p-invalid" *ngIf="form.get('title').touched&&form.get('title').hasError('whitespace')"> <br>The title must not be empty</small>
                </div>
                <div class="field">
                    <label for="description">Description</label>
                    <textarea   placeholder="Enter a description"   class="text" [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" formControlName="description"></textarea>
                    <small class="p-invalid" *ngIf="form.get('description').touched&&form.get('description').hasError('required')">This field is required</small>
                    <small class="p-invalid" *ngIf="form.get('description').touched&&form.get('description').hasError('whitespace')"> <br>The description must not be empty</small>
                </div>  
                <div class="field">
                    <label for="icon">Datetime</label>
                  <div class="p-field p-col-12 p-md-4">
                        <p-calendar formControlName="datetime"  [disabledDates]="invalidDates" [disabledDays]="[0,6]"  placeholder="Please select a date" [showTime]="true"[showIcon]="true" inputId="icon"></p-calendar>
                        <small class="p-invalid" *ngIf="form.get('datetime').touched&&form.get('datetime').hasError('required')">This field is required</small>
                    </div>
                </div>
                <div class="field1">
                    <img  class="img" src ="{{selectedFile}}" > 
                    <input  style="display: none" type="file" (change)="fileChange($event)"  #hiddenfileinput> 
                    <br>
                    <button  label="Event image"(click)="hiddenfileinput.click()" pButton pRipple  class="photo" ><i class="material-icons left">image</i></button>
                </div>
              
                           
      
      
        </form>
            </div>
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Submit" icon="pi pi-check" class="p-button-text" [disabled]="!form.valid" (click)="onSubmit()"></button>
    </ng-template>
    </p-dialog>
    <p-confirmDialog [style]="{width: '480px'}">
        <p-footer>
            <button type="button" pButton pRipple  icon="pi pi-times" label="Cancel" class="p-button-text" (click)="close()"></button>
            <button type="button" pButton pRipple  icon="pi pi-check" label="Submit" class="p-button-text" (click)="delete()"></button>
        </p-footer>
      </p-confirmDialog>