

  .logo-img {
    height: 50px;
    width: 115px;
    display: inline-block;
    vertical-align: middle;
    background: url('../../../assets/logo.png') no-repeat center center;
    background-size: contain;
    margin-left: 2%;
}

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a
{
text-decoration: none; 
color:hsla(0,0%,100%,.8);
padding-right: .5rem;
  padding-left: .5rem;
}

.active
{
 color:#fff;

}
a:active
{
color:#fff;
}

a:hover {
color: #fff
}
.spacer {
  flex: 0.75;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #000;
  color: white;
 
}


.icon
{
  height:24px;
  width: 24px;
  
  position:absolute;
}


.menu.link
{
font-size : 1.15rem;
margin-left: 25px;

}

ul  li
{
  list-style-type: none;
  display : inline-block;
}



