<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span class="logo-img"></span>
    <div class="spacer"></div> 
    <ul>
   <li>
    <a href="/admin" routerLinkActive="active">  <mat-icon class="icon" >home</mat-icon><span class="menu link" > Home </span> </a>
   </li>
<li>
    <a href="/admin/eventsschedule" routerLinkActive="active" >  <mat-icon class="icon" >event</mat-icon> <span class="menu link" >  Events </span></a>
</li>
</ul> 
</div>
