.p-dialog.p-confirm-dialog .p-confirm-dialog-message {
    margin-left: 2px!important;
    margin-top: 1rem !important;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 1rem;
  }
  body{
    background-color:#f8f9fa;
   
    display: block;
}
  .p-dialog .p-dialog-header {
    border-bottom: 0 none;
    background: #ffffff;
    color: #495057;
    padding: 1.5rem;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding: 0rem 1rem !important;
    height : 40px;
  }
  
  .p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
    display: none;
  }
  
  .p-inputtext.p-component{
    border-color: #2196F3 !important;
  }
  
  .p-dialog .p-dialog-content {
    background: #ffffff;
    color: #495057;
    padding: 0rem 0rem 0.5rem 1rem !important;
  }

  .p-datatable 
  {
      margin-top : -20px;
  }
  
  .p-datatable .p-datatable-tbody > tr {
    background: #ffffff;
    color: #495057;
    transition: box-shadow 0.2s;
    outline-color: #a6d5fa;
    height: 100px;
  }
  
  .field
  {
    margin-top : 10px;
  }
  
  .p-dialog  {
    border-bottom: 0 none;
    background: #ffffff;
    width: 570px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  
  .p-dialog .p-dialog-footer {
    border-top: 0 none;
    background: #ffffff;
    color: #495057;
    padding: 0rem 1rem 0.5rem 0.5rem !important;
    text-align: right;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  
  .p-dialog .p-dialog-header {
    border-bottom: 0 none;
    background: #ffffff;
    color: #495057;
    padding: 1.5rem;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding : 0rem 1rem!important;
  }
  
  .p-dialog .p-dialog-header {
    border-bottom: 0 none;
    background: #ffffff;
    color: #495057;
    padding: 1.5rem;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding : 0rem 1rem!important;
  }

  .p-dialog.p-confirm-dialog .p-confirm-dialog-icon {
    font-size: 2rem !important;
    margin-top: 1rem !important;
  }
  
  